#quiz {
  display: none;
}

#results {
  display: none;
}

#introduction-slide {
  color: #ffffff;
  height: 900px;
  background: url("../img/intro-bg.jpg");
  background-size: 100%;
  background-repeat:no-repeat;
}

#introduction-slide h3 {
  color: #F0EEDD;
}

#introduction-slide .btn {
  margin-top: 50px;
}

.btn {
  margin-top: 12px;
}
